li {
    /* убираем стилизацию элементов списка*/
    list-style: none;
}

li::before {
    content: '⚡';
}

.homework-list li::before{
    content:'📑';
}
a {
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: orange;
}