.movie-card1 {
  position: relative;
  height: fit-content;
  width: fit-content;
}

img {
    display: block;
  width: 200px;
  height: auto;
  /* margin: 10px 0px 10px 20px;*/
}
.rating {
  position: absolute;
  background-color: rgb(59,179,58);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  top: 20px;
 left: 10px;
 color: white;
}

.tickets {
  position: absolute;
  height: 20px;
  background-color: rgb(255,86,0);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 15px;
  bottom: 8px;
  right: 10px;
  cursor: pointer;
}
