body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.imagefox {
width: 300px;
border-radius: 10px;
}

#btn-fox {
     padding: 12px 24px;
     background-color: rgb(222, 182, 123);
     border: none;
     border-radius: 50px;
     font-size: 18px;
     cursor: pointer;
     color: rgb(68, 66, 66);
     margin-bottom: 20px;
}