body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
header {
position: relative;
}

.logo {
  position: absolute;
  top: 50px;
  left: 20px;
  width: 250px;
  
}
.imagebanner {
  width: 100%;
  display: block;
  margin: auto;
}

.overlay {
  position: absolute;
  bottom: 10%;
  left: 30%;
  display: flex;
  gap: 20px;
  background: rgba(105, 105, 105, 0.6);
  padding: 10px 20px;
  border-radius: 10px;
  align-items: center;
}

.overlay-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.icon {
  width: 20px;
  height: auto;
}

.overlay span {
  color: rgba(247, 238, 238, 0.534);
  font-size: 17px;
  
}
.rating-link {
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.movie-container {
  display: none;
 gap: 20px;
  flex-direction: column;
  padding: 20px;
}

#movie-container:target {
  display: flex;
}

.movie-card {
  position: relative;
  height: fit-content;
  width: fit-content;
}

.movie-card img {
  display: block;
  width: 200px;
  height: auto;
  border-radius: 10px;
}

.rating {
  position: absolute;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  top: 20px;
  left: 10px;
  color: white;
}

.tickets {
  position: absolute;
  background-color: rgb(255, 86, 0);
  height: 20px;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 15px;
  bottom: 8px;
  right: 10px;
  cursor: pointer;
}

.green-rating .rating {
  background-color: rgb(59, 179, 58);
}

.red-rating .rating {
  background-color: rgb(255, 0, 0);
}


